<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <br>
        <br>
        <br>
        <br>

          <h3></h3>
           <h4>Total Responses: <%= response.length %> </h3>
            <h3><a href="<%= response[0].surveyId %>/export.csv" onclick="getExport">Export to CSV</a></h3>

           
                       <% for (let count = 0; count < response.length; count++) { %>
                       <h4>Response <%= count+1 %> </h4>
                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q1TextField"><%= response[count].question1 %></label>
                      </li>
                      <li class="list-group-item">
                      <label for="a1TextField"> <%=response[count].answer1  %> </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q2TextField"><%= response[count].question2 %> </label>
                      </li>
                      <li class="list-group-item">
                      <label for="a2TextField"> <%=response[count].answer2  %> </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q3TextField"><%= response[count].question3  %></label>
                      </li>
                      <li class="list-group-item">
                      <label for="a3TextField"> <%=response[count].answer3  %> </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q4TextField"><%= response[count].question4  %></label>
                      </li>
                      <li class="list-group-item">
                      <label for="a4TextField"> <%=response[count].answer4  %> </label>
                      </li>
                      </ul>

                      <ul class="list-group">
                      <li class="list-group-item">
                       <label for="q5TextField"><%= response[count].question5  %></label>
                      </li>
                      <li class="list-group-item">
                      <label for="a5TextField"> <%=response[count].answer5  %> </label>
                      </li>
                      </ul>
                     <% } %>

                  
           <!-- Redirect to my surveys or Dashboard -->
         
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>
